{% extends 'data/new_layout.html' %}

{% block main_cube %}
<h1>Edit Database Item</h1>
        <form class=Person_Form method="post">
            {% csrf_token %}
            <div class="name">
                <div class="labels">
                    <br>
                    <label>First:</label>
                    <label>Last:</label>
                    <label>Business:</label>
                </div>
                <div class="inputs">
                    <br>
                    <input type="text" name="first" value="{{person.first}}">
                    <br>
                    <input type="text" name="last" value="{{person.last}}">
                    <br>
                    <input type="text" name="business" value="{{person.business}}">
                </div>

            </div>

            <div class="address">
                <div class="labels">
                    <br>
                    <label>Address:</label>
                    <label>City:</label>
                    <label>State:</label>
                    <label>Zip Code:</label>
                </div>
                <div class="inputs">
                    <br>
                    <input type="text" name="address" value="{{person.address}}">
                    <br>
                    <input type="text" name="city" value="{{person.city}}">
                    <br>
                    <input type="text" name="state" value="{{person.state}}">
                    <br>
                    <input type="text" name="zip" value="{{person.zip}}">
                </div>
            </div>

            <div class="contact">
                <div class="labels">
                    <br>
                    <label>Cell Phone:</label>
                    <label>Work Phone:</label>
                    <label>Home Phone:</label>
                    <label>Email:</label>
                </div>
                <div class="inputs">
                    <br>
                    <input type="text" name="cell" value="{{person.cell}}">
                    <br>
                    <input type="text" name="work" value="{{person.work}}">
                    <br>
                    <input type="text" name="home" value="{{person.home}}">
                    <br>
                    <input type="text" name="email" value="{{person.email}}">
                </div>
            </div>
            <div class="submit_button">
            <input type="submit" value='Submit Edits'>
            </div>
        </form>
{% endblock %}